<!DOCTYPE html>
<html>
<head>
<title> <%= title %> </title>
<style>
.headline {
    color:  #0903ff;
    font-size: 30px;
}
.back {
    color:  #0903ff;
    font-size: 14px;
}

.submit {
  background-color: #0903ff;
  color: white;
  padding: 16px 5px;
  margin: 8px 10px;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 1;
}

</style>
<% include ../views/partial/style %>
</head>
<body>

<div class="header">
    <a href="/home">Home</a>
    <a href="/home/logout">Log Out</a>
</div>

<p class=headline><%= message %></p>

Choose Subject:
<form METHOD="POST" action="/alcohols/<%= usersData.id %>/manual">
    
    <select  name="id">
    <% for (let alcohollist of alcoholsData) { %>
        <option value= <%= alcohollist.dataValues.id %>> <%= alcohollist.dataValues.alcoholName %> </option>
    <% } %>
    
    </select>
    <br>
    <button type="submit">Add Alcohol</button>
</form>


</body>
</html>