<!DOCTYPE html>
<html>
<head>
<title> <%= title %> </title>
<style>
.headline {
    color:  #0903ff;
    font-size: 30px;
}
.back {
    color:  #0903ff;
    font-size: 14px;
}

.submit {
  background-color: #0903ff;
  color: white;
  padding: 16px 5px;
  margin: 8px 10px;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 1;
}

</style>
</head>
<body>
<p class=headline><%= message %></p>

Choose Subject:
<form METHOD="POST" action="/alcohols/<%= usersData[0].dataValues.id %>/delete">
    
    <select  name="id">
    <% for(let alcoholList of usersData[0].dataValues.Alcohol) { %>
        <option value= <%= alcoholList.dataValues.id %>> <%= alcoholList.dataValues.alcoholName %> </option>
    <% } %>

    </select>
    <br>
    <button type="submit">Delete Alcohol</button>
</form>


</body>
</html>